body {
    background-color: green;
}

h1 {
    font-size: 2em;
    color: purple;
    text-align: center;
    font-family: roboto;
    font-weight: 800;
    text-decoration: underline; 
}

h2 {
    color: blue;
    font-weight: bolder;
    text-align: center;
}

h3 {
    color: yellow;
    font-weight: bold;
    text-align: right;
}


div {
    position: absolute;
    top: 10px;
    left: 500px;
    width: 500px;
    height: 500px;
    background-color: black;
}

div#border { 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid blue;
}
}